/* .charactersSection {
  /* display: flex;
  flex-wrap: wrap;
} */

.charactersDiv {
  border: red solid 1px;
  margin-bottom: 50px;
  /* height: 156px; */
  width: 355px;
}

img {
  width: 192px;
  height: 206px;
}
