.header-container {
  background-color: #202020;
  height: 100px;
  text-align: center;
  padding: 15px;
}

.img {
  border-bottom: grey solid 1px;
}
img {
  width: 130px;
  height: 55px;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}

button {
  margin-top: 10px;
  /* border: solid blue 1px; */
  height: 30px;
  width: 150px;
  background-color: #272626;
  color: white;
  border-radius: 10px;
}
